.sugerencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width:600px){  
        background-color: $background_color2;
        display: grid;
        grid-template-areas: 
        "h2 h2"
        "sugerencias sugerencias"
        "conejo formulario";
        justify-items: center;
    }
}

.conejoBlink{
    grid-area: conejo;
    width: 35%;
    height: 35%;
    @media(min-width:600px){ 
        display: flex;
        width: 150px;
        height: 150px;
    }
}

.formularioContacto{
    background-color: $background_color2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media(min-width:600px){
        padding: 10px;
        margin: 20px;
    }
}

.parrafoSugerencias{
    grid-area: sugerencias;
}

form{
    background-color: $background_color1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    background-color: $background_color1;
    display: flex;
    flex-direction: column;
}

@media(min-width:600px){    
    
    .datosContacto{
        background-color: $background_color1;
        display: flex;
        flex-direction: column;
    }
}