.cuerpo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    @media(min-width:1024px){ 
        display: grid;
        grid-template-areas: 
        "titulo"
        "relleno"
        "intro";
    }
}

.titulo{
    grid-area: titulo;
    display: grid;
    grid-template-areas: 
    "logoHome"
    "h1";
    gap: 5px;
    justify-items: center;
    @media(min-width:600px){   
            display: grid;
            grid-template-areas: 
            "logoHome h1";
        }
}

.relleno{
    grid-area: relleno;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    justify-items: center;
    @media(min-width:600px){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


.logoIndex{
    padding: 5px;
    margin: 5px;
    width: 100%;
    @media(min-width:1024px){ 
        width: 500px;
    }
}

@media(min-width:600px){
    .button{
        width: 60px;
        background-color: #607D8B;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
}
