.onTour{
    background-color: #B2EBF2;
    padding: 5px;
    border-style: solid;
    margin: 5px;
    width: 85%;
    @media(min-width:1024px){ 
        padding: 10px;
        margin: 10px;
    }
}
.tourArgentina{
    grid-area: tourArg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 5px;
}

.tourExtranjero{
    grid-area: tourExt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: stretch;
    padding: 5px;
    margin: 5px;
}

@media(min-width:1024px){ 
    .tours{
        display: grid;
        grid-template-areas: 
        "tourArg tourExt";
    }
}
