/* 320px - 599px */

@import "generales";

@import "fuentes";

.cuerpo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.titulo{
    grid-area: titulo;
    display: grid;
    grid-template-areas: 
    "logoHome"
    "h1";
    gap: 5px;
    justify-items: center;
}

.carouselSlide{
    display: block;
}

.relleno{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    justify-items: center;
}

.logoIndex{
    padding: 5px;
    margin: 5px;
    width: 100%;
}

/* discografia */
.gridDiscos{
    display: grid;
    grid-template-areas: 
    "info"
    "parrafo"
    "discos";
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.infoDiscos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    padding: 10px;
    margin: 5px;
}

.parrafoDiscos{
    display: flex;
    flex-direction: column;
    grid-area: parrafo;
    padding: 5px;
    margin: 5px;
}

.discosBlink{   
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    height: 300px;
    width: 300px;
    grid-area: discos;
}

/* galeria */
.gridFotos{
    background-color: #B2EBF2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
    gap: 5px;
    justify-items: center;
    padding: 5px;
    margin: 5px;
}

.gridVideos{
    background-color: #B2EBF2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
    gap: 5px;
    justify-items: center;
    padding: 5px;
    margin: 5px;
}

.fotosBlink{
    display: flex;
    flex-direction: column;
    background-color: #B2EBF2;
    padding: 10px;
    margin: 5px;
    max-width: 100%;
    height: auto;
}

.videosBlink{
    display: flex;
    flex-direction: column;
    background-color: #B2EBF2;
    padding: 10px;
    margin: 5px;
    max-width: 100%;
    height: auto;
}

/* contacto */
.sugerencias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conejoBlink{
    grid-area: conejo;
    width: 35%;
    height: 35%;
}


.formularioContacto{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.parrafoSugerencias{
    grid-area: sugerencias;
}

form{
    background-color: #B2EBF2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    background-color: #B2EBF2;
    display: flex;
    flex-direction: column;
}

/* tour */
.onTour{
    background-color: #B2EBF2;
    padding: 5px;
    border-style: solid;
    margin: 5px;
    width: 85%;
}
.tourArgentina{
    grid-area: tourArg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 5px;
}

.tourExtranjero{
    grid-area: tourExt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: stretch;
    padding: 5px;
    margin: 5px;
}


@media(min-width:600px){
    .button{
        width: 60px;
        background-color: #607D8B;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
    
    
    .relleno{
        grid-area: relleno;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .titulo{
        grid-area: titulo;
        display: grid;
        grid-template-areas: 
        "logoHome h1";
    }

    .intro{
        grid-area: intro;
        font-weight: lighter;
        font-size: 20px;
    }
      
    /* discografia */
    .tituloDisco{
        display: flex;
        flex-direction: row;
        padding: 2px;
        border: solid 2px;
        border-color: black;
        justify-content: center;
    }
    
    .flexDiscos{
        display: flex;
        flex-direction: row;
        background-color: white;
    }
    
    .gridDiscos{
        display: grid;
        grid-template-areas: 
        "info    discos"
        "parrafo discos";
        align-items: center;
        justify-items: start;
        gap: 10px;
    }
    

    /* galeria */
    .gridFotos{
        background-color: #FFFFFF;
        padding: 15px;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }
    
    .gridVideos{
        background-color: #FFFFFF;
        padding: 15px;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }
    
    .fotosBlink{
        width: 250px;
        height: 200px;
    }
    
    .videosBlink{
        width: 250px;
        height: 200px;
    }
    
    /* contacto */
    .sugerencias{
        background-color: #FFFFFF;
        display: grid;
        grid-template-areas: 
        "h2 h2"
        "sugerencias sugerencias"
        "conejo formulario";
        justify-items: center;
        
    }
    
    .conejoBlink{
        display: flex;
        width: 150px;
        height: 150px;
    }
    
    .formularioContacto{
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        margin: 20px;
    }
    
    .datosContacto{
        background-color: #B2EBF2;
        display: flex;
        flex-direction: column;
    }
}

@media(min-width:1024px){ 


    .logoIndex{
        padding: 5px;
        margin: 5px;
        width: 500px;
    }
        
    .intro{
        font-weight: lighter;
        font-size: 20px;
    }

    /* tour */
    .onTour{
        background-color: #B2EBF2;
        padding: 10px;
        border-style: solid;
        margin: 10px;
        width: 85%;
    }

    .tours{
        display: grid;
        grid-template-areas: 
        "tourArg tourExt";
    }
    
    /* contacto */
    .formularioContacto{
        padding: 10px;
        margin: 20px;
    }
    
    /*galeria */
    .gridFotos{
        background-color: #FFFFFF;
        padding: 15px;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
        justify-content:center;
    }
    
    .gridVideos{
        background-color: #FFFFFF;
        padding: 15px;
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .fotosBlink{
        background-color: #B2EBF2;
        padding: 10px;
        margin: 5px;
        width: 300px;
        height: 250px;
        transition-property: all;
        transition-duration: 1s;
    }
    
    .fotosBlink:hover{
        transform: scale(2);
    }
    
    
    .videosBlink{
        background-color: #B2EBF2;
        padding: 10px;
        margin: 5px;
        width: 300px;
        height: 250px;
    }
    
    /* discografia */
    .gridDiscos{
        display: grid;
        grid-template-columns: 30% 25% 45%;
        grid-template-areas: 
        "discos info parrafo";
    }

    .parrafoDiscos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-area: parrafo;
        padding: 10px;
        margin: 530x;
    }
    
    .cuerpo{
        display: grid;
        grid-template-areas: 
        "titulo"
        "relleno"
        "intro";
    }
    
}
