/* 320px - 599px */
* {
  padding: 0%;
  margin: 0%;
}

html {
  font-size: 62, 5;
}

main {
  background-color: #FFFFFF;
}
@media (min-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #B2EBF2;
    padding: 20px;
    margin-top: 5px;
    font-family: Robotolight;
    text-decoration: none;
  }
}

body {
  background-color: #0097A7;
  font-family: Robotolight;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding-bottom: 3em;
}
@media (min-width: 600px) {
  body {
    background-color: #212121;
  }
}

header {
  grid-area: header;
  background-image: url(../img/banner.png);
  background-position: 50%;
  display: grid;
  justify-content: center;
}
@media (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
  }
}

nav {
  list-style-type: none;
}
nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0rem;
}
nav ul li {
  list-style: none;
}

.barraNavegacion {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  background-color: #FFFFFF;
}
@media (min-width: 600px) {
  .barraNavegacion {
    flex-direction: row;
    margin: 20px;
  }
}

ol {
  margin-top: 0;
  margin-bottom: 0rem;
}
@media (min-width: 600px) {
  ol li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-style: normal;
  }
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  margin-top: 5px;
  background-color: #FFFFFF;
  text-decoration: none;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

h1 {
  grid-area: h1;
  color: black;
  padding: 20px;
  margin: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: freshman;
  font-size: 1.5rem;
}

h2 {
  grid-area: h2;
  color: black;
  background-color: #B2EBF2;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Robotobold;
  font-size: 1rem;
}

a {
  color: #00BCD4;
  font-style: normal;
  font-family: freshman;
  text-decoration: none;
  font-weight: lighter;
}

p {
  color: black;
  background-color: #B2EBF2;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 600px) {
  p {
    padding: 30px;
    margin: 30px 10px 30px 10px;
    text-align: start;
  }
}
@media (min-width: 1024px) {
  p {
    padding: 10px;
    margin: 10px;
    justify-content: flex-start;
  }
}

a:hover {
  color: black;
}

img {
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

.logoHome {
  max-width: 100px;
  height: auto;
  grid-area: logoHome;
}

@font-face {
  font-family: Robotolight;
  src: url(../fonts/Roboto-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: Robotobold;
  src: url(../fonts/Roboto-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: freshman;
  src: url(../fonts/Freshman.ttf);
  font-display: swap;
}
.cuerpo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .cuerpo {
    display: grid;
    grid-template-areas: "titulo" "relleno" "intro";
  }
}

.titulo {
  grid-area: titulo;
  display: grid;
  grid-template-areas: "logoHome" "h1";
  gap: 5px;
  justify-items: center;
}
@media (min-width: 600px) {
  .titulo {
    display: grid;
    grid-template-areas: "logoHome h1";
  }
}

.relleno {
  grid-area: relleno;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  justify-items: center;
}
@media (min-width: 600px) {
  .relleno {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.logoIndex {
  padding: 5px;
  margin: 5px;
  width: 100%;
}
@media (min-width: 1024px) {
  .logoIndex {
    width: 500px;
  }
}

@media (min-width: 600px) {
  .button {
    width: 60px;
    background-color: #607D8B;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
}
.gridDiscos {
  display: grid;
  grid-template-areas: "info" "parrafo" "discos";
  align-items: center;
  justify-items: center;
  gap: 10px;
}
@media (min-width: 600px) {
  .gridDiscos {
    display: grid;
    grid-template-areas: "info    discos" "parrafo discos";
    justify-items: start;
  }
}
@media (min-width: 1024px) {
  .gridDiscos {
    display: grid;
    grid-template-columns: 30% 25% 45%;
    grid-template-areas: "discos info parrafo";
  }
}

.infoDiscos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  padding: 10px;
  margin: 5px;
}

.parrafoDiscos {
  display: flex;
  flex-direction: column;
  grid-area: parrafo;
  padding: 5px;
  margin: 5px;
}
@media (min-width: 1024px) {
  .parrafoDiscos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: parrafo;
    padding: 10px;
  }
}

.discosBlink {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  height: 300px;
  width: 300px;
  grid-area: discos;
}

@media (min-width: 600px) {
  .tituloDisco {
    display: flex;
    flex-direction: row;
    padding: 2px;
    border: solid 2px;
    border-color: black;
    justify-content: center;
  }
  .flexDiscos {
    display: flex;
    flex-direction: row;
    background-color: white;
  }
}
.onTour {
  background-color: #B2EBF2;
  padding: 5px;
  border-style: solid;
  margin: 5px;
  width: 85%;
}
@media (min-width: 1024px) {
  .onTour {
    padding: 10px;
    margin: 10px;
  }
}

.tourArgentina {
  grid-area: tourArg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 5px;
}

.tourExtranjero {
  grid-area: tourExt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  align-items: stretch;
  padding: 5px;
  margin: 5px;
}

@media (min-width: 1024px) {
  .tours {
    display: grid;
    grid-template-areas: "tourArg tourExt";
  }
}
.gridFotos {
  background-color: #B2EBF2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  justify-items: center;
  padding: 5px;
  margin: 5px;
}
@media (min-width: 600px) {
  .gridFotos {
    background-color: #FFFFFF;
    padding: 15px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;
  }
}
@media (min-width: 1024px) {
  .gridFotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.gridVideos {
  background-color: #B2EBF2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  justify-items: center;
  padding: 5px;
  margin: 5px;
}
@media (min-width: 600px) {
  .gridVideos {
    background-color: #FFFFFF;
    padding: 15px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;
  }
}
@media (min-width: 1024px) {
  .gridVideos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.fotosBlink {
  display: flex;
  flex-direction: column;
  background-color: #B2EBF2;
  padding: 10px;
  margin: 5px;
  max-width: 100%;
  height: auto;
}
@media (min-width: 600px) {
  .fotosBlink {
    width: 250px;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .fotosBlink {
    padding: 10px;
    margin: 5px;
    width: 300px;
    height: 250px;
    transition-property: all;
    transition-duration: 1s;
  }
}

.fotosBlink:hover {
  transform: scale(2);
}

.videosBlink {
  display: flex;
  flex-direction: column;
  background-color: #B2EBF2;
  padding: 10px;
  margin: 5px;
  max-width: 100%;
  height: auto;
}
@media (min-width: 600px) {
  .videosBlink {
    width: 250px;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .videosBlink {
    padding: 10px;
    margin: 5px;
    width: 300px;
    height: 250px;
  }
}

.sugerencias {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  .sugerencias {
    background-color: #FFFFFF;
    display: grid;
    grid-template-areas: "h2 h2" "sugerencias sugerencias" "conejo formulario";
    justify-items: center;
  }
}

.conejoBlink {
  grid-area: conejo;
  width: 35%;
  height: 35%;
}
@media (min-width: 600px) {
  .conejoBlink {
    display: flex;
    width: 150px;
    height: 150px;
  }
}

.formularioContacto {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (min-width: 600px) {
  .formularioContacto {
    padding: 10px;
    margin: 20px;
  }
}

.parrafoSugerencias {
  grid-area: sugerencias;
}

form {
  background-color: #B2EBF2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  background-color: #B2EBF2;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .datosContacto {
    background-color: #B2EBF2;
    display: flex;
    flex-direction: column;
  }
}
.carouselSlide {
  display: block;
}/*# sourceMappingURL=estilos.css.map */